<div *ngIf="contact">
  <form class="contact-details-form"  (ngSubmit)="onUpdateClientInfo(contact)">
    <mat-form-field class="contact-details-full-width">
      <input matInput placeholder="Name" [(ngModel)]="contact.contactName"
             name="name" >
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>

    <mat-form-field class="contact-details-full-width">
      <input matInput placeholder="Number" [(ngModel)]="contact.contactNumber"
             name="number">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>

    <button mat-raised-button type="button" (click)="onBack()">
      <mat-icon>keyboard_arrow_left</mat-icon>Back
    </button>
    <button mat-raised-button>
      <mat-icon>update</mat-icon>Update
    </button>
  </form>
</div>




