<div *ngIf="message">

  <div class="contact-message">
    <div fxFlex="0 1 auto">
      <img [src]="message.imageUrl">
    </div>
    <span fxFlex="1 1 auto" class="contact-name">{{message.contactName}}</span>
    <md-divider></md-divider>
  </div>

  <div fxLayout="row">
    <span fxFlex="1 1 auto">{{message.messageText}}</span>
    <span fxFlex="0 0 auto" class="message-datetime">{{message.messageDate}}</span>
  </div>

  <md-divider></md-divider>

  <form class="send-message-form" (ngSubmit)="onSendMessage(message)" fxLayout="row">
    <md-form-field class="send-message">
        <input mdInput placeholder="Enter message"
             value="" name="message"
             [(ngModel)]="message.messageNew">
    </md-form-field>

    <button md-icon-button (click)="onSendMessage()">
      <md-icon>send</md-icon>
    </button>
  </form>
</div>
