<div class="{{theme}}">
  <mat-sidenav-container>
    <mat-sidenav #sidenav class="sidenav-main">
      <span class="logo">Project-X</span>
      <nav>
        <dl>
          <dt>Item 1</dt>
          <dt>Item 2</dt>
          <dt>Item 3</dt>
        </dl>
      </nav>
    </mat-sidenav>

    <div fxLayout="column nowrap">
      <mat-toolbar color="primary" fxFlex="none">
        <div class="btn-sidenav-content">
          <button matTooltip="Navigation" type="button" mat-icon-button (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>

        <div fxFlex fxLayout="row">
          <div fxFlex="0 1 auto">
            <img src="https://cdn1.iconfinder.com/data/icons/social-messaging-productivity-1-1/128/gender-male2-512.png"
                 alt="ava">
          </div>
          <div fxLayout="column">
            <span fxFlex="1 1 auto" class="header-login">Victor Burgoa</span>
            <span fxFlex="1 1 auto" class="header-email">mycolorscreens@gmail.com</span>
          </div>
        </div>

        <button mat-icon-button matTooltip="Select a theme!" [matMenuTriggerFor]="menu">
          <mat-icon>format_color_fill</mat-icon>
        </button>
        <mat-menu #menu="matMenu" fxLayout="column">
          <div fxLayout="row">
            <button fxFlex mat-menu-item (click)="onChangeTheme('light-lilac-theme')">
              <span class="circle-lilac"></span>
            </button>
            <button fxFlex mat-menu-item (click)="onChangeTheme('light-blue-theme')">
              <span class="circle-blue"></span>
            </button>
          </div>
          <div  fxLayout="row">
            <button mat-menu-item (click)="onChangeTheme('dark-purple-theme')">
              <span class="circle-purple"></span>
            </button>
            <button mat-menu-item (click)="onChangeTheme('dark-pink-theme')">
              <span class="circle-pink"></span>
            </button>
          </div>
        </mat-menu>

        <button mat-icon-button matTooltip="New contact" [routerLink]="['/contacts/new']">
          <mat-icon>add</mat-icon>
        </button>
      </mat-toolbar>

      <nav fxFlex="none" mat-tab-nav-bar backgroundColor="primary">
        <a fxFlex="1 1 auto" mat-tab-link
           routerLink="contacts"
           routerLinkActive
           #contactsRla="routerLinkActive"
           [active]="contactsRla.isActive">
          <mat-icon>person</mat-icon>
        </a>
        <a fxFlex="1 1 auto" mat-tab-link
           routerLink="messages"
           routerLinkActive
           #messagesRla="routerLinkActive"
           [active]="messagesRla.isActive">
          <mat-icon>messages</mat-icon>
        </a>
      </nav>

      <div fxFlex>
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-container>
</div>
