span {
  color: #919191;
}

span.message, span.date {
  font-size: 0.8em;
}

span.contact-name {
  font-size: 0.95em;
}

/* Sidenav Section*/
.sidenav-messaging {
  border-right: 1px solid rgba(0,0,0,.14);
  bottom: 0;
  background: #ffffff;
  color: #212121;
  display: block;
  font-family: Roboto,sans-serif;
  left: 0;
  position: fixed;
  top: 0;
  width: 256px;
  z-index: 4;
  transform: translateZ(0);
  transform-style: preserve-3d;
  transition-delay: .1s;
  transition-duration: .2s;
  transition-property: transform,left;
  transition-timing-function: cubic-bezier(.4,0,.2,1);

}

.sidenav-messaging nav dl dt {
  border-left: 2px solid transparent;
  color: #212121;
  font-weight: 400;
  margin-top: 0;
  padding: 15px 0 15px 22px;
}

h3 {
  color: aqua;
}
