<mat-sidenav-container>
  <mat-sidenav #sidenav
              class="sidenav-messaging"
              mode="side"
              [opened]="hasActiveSubRoute()"
              (onClose)="removeSubRoute()">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="removeSubRoute()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav>
  <mat-nav-list>
    <ng-container *ngFor="let message of messages">
      <a mat-list-item
         [routerLink]="['/messages', message.contactId]" >
          <img matListIcon [src]="message.imageUrl">

          <h3 matLine fxLayout="row" class="hangouts-theme">
            <span fxFlex="1 1 auto">{{message.contactName}}</span>
            <span fxFlex="none">{{message.messageDate}}</span>
          </h3>

          <p matLine>
            <span>{{message.messageText}} </span>
          </p>
      </a>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-nav-list>
</mat-sidenav-container>
