<mat-list>
  <form class="search-contact-form">
    <mat-form-field class="search-contact-full-width">
      <input matInput placeholder="Type a name, email, number or circle" value=""
             [(ngModel)]="listFilter" name="search-contact">
    </mat-form-field>
  </form>

 <h4>Frequent Contacts</h4>
  <mat-nav-list>
    <ng-container *ngFor="let contact of contacts | frequentContacts">
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['view', contact.contactId]">
        <img matListIcon [src]="contact.imageUrl">
        <h3 matLine fxLayout="row">
          <span fxFlex="1 1 auto">{{contact.contactName}}</span>
        </h3>
        <p matLine>
          <span>{{contact.contactNumber}} </span>
        </p>
      </a>
    </ng-container>
  </mat-nav-list>

  <h4>Contacts</h4>
  <mat-nav-list>
    <ng-container *ngFor="let contact of filteredContacts">
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['view', contact.contactId]">
        <img matListIcon [src]="contact.imageUrl">
        <h3 matLine fxLayout="row">
          <span fxFlex="1 1 auto">{{contact.contactName}}</span>
        </h3>
        <p matLine>
          <span>{{contact.contactNumber}} </span>
        </p>
      </a>
    </ng-container>
  </mat-nav-list>
</mat-list>
